<div class="container_big-card">
  <div class="big-card_photo">
    <img
      src="https://ead.ucpel.edu.br/hubfs/Imported_Blog_Media/o-que-e-ti.jpeg"
      alt=""
      height="330"
      srcset=""
    >
  </div>
  <div class="big-card_title">
    <h1><a href="#">Nova versão Angular</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dolor tellus, sagittis et mi in,
      cursus scelerisque massa. Aenean nec ex sit amet enim fringilla tristique quis cursus libero.
      In efficitur consequat elementum. Integer vulputate id mauris mattis congue.
      Pellentesque gravida ante orci. Proin id eleifend metus. Pellentesque nisl tellus.
    </p>
  </div>
</div>
